/**
 * All styles in this file added by Donal. I want to minimise changing the Bootstrap/Smart Box CSS files directly in
 * order to facilitate upgrading to future versions thereof.
 */
.brand span {
    display: block;
}

#masthead .brand .light {
    font-size: 18px;
    line-height: 18px;
}

#masthead .brand {
    font-size: 66px;
    font-weight: 900;
    line-height: 66px;
    padding: 10px 20px 10px;
}

article a {
    color: #42576A;
    text-decoration: underline;
}

article a:hover {
    text-decoration: none;
}

article h1 {
    border-bottom: 1px solid #f2f2f4;
}

#footer span {
    display: block;
}

#footer .email {
    color: inherit;
}

#masthead .nav > li > a {
    font-size: 20px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 0;
}

.wrapper {
    margin-bottom: 20px;
}

article p + h2 {
    margin-top: 20px;
}

.icon-twitter:hover {
    color: #00aced;
}

.icon-linkedin:hover {
    color: #007bb6;
}

.v-spacer {
    margin-bottom: 10px;
}

.remove-bottom-margin {
    margin-bottom: 0;
}
a.more-link {
    font-weight: bold;
}

a.more-link:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {

    #masthead .nav > li > a {
        padding-top: 9px;
    }

    div.nav-collapse {
        height: auto !important;
    }
}

.icon-twitter, .icon-linkedin {
    font-size: 36px;
}

.contact li {
    font-size: 14px;
    display: block;
}
