/**
 * All styles in this file added by Donal. I want to minimise changing the Bootstrap/Smart Box CSS files directly in
 * order to facilitate upgrading to future versions thereof.
 */
.brand span {
    display: block;
}

#masthead .brand .light {
    font-size: 15px;
    line-height: 15px;
}

#masthead .brand {
    font-size: 54px;
    font-weight: 900;
    line-height: 54px;
    padding: 10px 20px 10px;
}

article a {
    color: #42576A;
    text-decoration: underline;
}

article a:hover {
    text-decoration: none;
}

article h1 {
    border-bottom: 1px solid #f2f2f4;
}

#footer span {
    display: block;
}

#footer .email {
    color: inherit;
}

#masthead .nav > li > a {
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
}

#masthead .nav > li > a:hover {
    text-decoration: underline;
}

.wrapper {
    margin-bottom: 20px;
}

.list-widget h4 {
    font-size: 16px;
    line-height: 16px;
    padding: 9px 5px;

}

.list-widget li {
    margin-bottom: 0;
}

.list-widget h4:hover {
    background-color: #f2f2f4;
}