/**
 * All styles in this file added by Donal. I want to minimise changing the Bootstrap/Smart Box CSS files directly in
 * order to facilitate upgrading to future versions thereof.
 */
.brand span {
    display: block;
}

#masthead .brand .light {
    font-size: 15px;
    line-height: 15px;
}

#masthead .brand {
    font-size: 54px;
    font-weight: 900;
    line-height: 54px;
    padding: 10px 20px 10px;
}

article a {
    color: #42576A;
    text-decoration: underline;
}

article a:hover {
    text-decoration: none;
}

article h1 {
    border-bottom: 1px solid #f2f2f4;
}

#footer span {
    display: block;
}

#footer .email {
    color: inherit;
}

#masthead .nav > li > a {
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
}

#masthead .nav > li > a:hover {
    text-decoration: underline;
}

.wrapper {
    margin-bottom: 20px;
}

.list-widget h4 {
    font-size: 16px;
    line-height: 16px;
    padding: 9px 5px;

}

.list-widget ul {
    margin-left: 0;
}

.list-widget h3 {
    padding-left: 5px;
}

.list-widget li {
    margin-bottom: 0;
    font-size: 18px;
}

.list-widget h4:hover {
    background-color: #f2f2f4;
}

.list-widget i {
    padding-top: 3px;
}


article p + h2 {
    margin-top: 20px;
}

.icon-twitter {
    color: #00aced;
}

.icon-linkedin {
    color: #007bb6;
}

.nav-pills.nav-stacked > li > a {
    padding-left: 35px;
}


.nav-pills.nav-stacked > li > a > i {
    position: absolute;
    margin-left: -30px;
}

.nav-tabs > li > a, .nav-pills > li > a {
    line-height: 18px
}